.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.input--wide {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 200px;
}

.input--wide label {
  margin-right: 0;
  margin-bottom: 4px;
}

.input--wide input {
  width: 100%;
}